/* mixins */
@mixin unlist() {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/* utility classes */
.center {
  text-align: center;
}


/* modules */
header {
	margin-top: 40px;
	h1 {
		margin: 0;
	}
	strong {
		display: block;
		margin-bottom: 1.5rem;
	}
}

nav {
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: space-between;
	}
	a.active {
		.btn {
			color: #fff;
			background-color: #6c757d;
			border-color: #6c757d;
		}
	}
	@media only screen and (max-width: 640px) {
		.btn {
			font-size: .7rem;
			font-weight: 700;
		}
	}
}

.arts {
	img {
		max-width: 100%;
	}
	ul {
		@include unlist;
		display: flex;
		flex-wrap: wrap;
	}
	li {
		flex: 2 0 30%; /* explanation below */
		padding: 0 0 0 3%;
	}
	p {
		line-height: 1;
		margin: .5rem 0 1rem;

	}
	@media only screen and (max-width: 640px) {
		li {
			flex: 2 0 45%; /* explanation below */
			padding: 0 0 0 5%;
		}
		p {
			font-size: .7rem;
			font-weight: 700;
		}
	}
}

.network {
	ul {
		@include unlist;
		display: flex;
		justify-content: space-between;
		max-width: 200px;
	}
}

.work {
	.inactive {
		text-decoration: line-through;
	}
}
